engine-strict=false
fund=false
audit=true
legacy-peer-deps=false
strict-peer-dependencies=false
node-linker=hoisted
prefer-frozen-lockfile=true
shared-workspace-lockfile=true
hoist-pattern[]=@*/*
hoist-pattern[]=*
