node_modules
**/node_modules
**/dist
**/build
**/coverage
**/.vite
**/.next
**/.cache
**/*.log
**/*.snap
**/generated/**
**/.graphqlrc*
infra/helm/intelgraph/templates/configmap.yaml
infra/helm/intelgraph/templates/deployment-api-gateway.yaml
infra/helm/intelgraph/templates/file-drop-pvc.yaml
