* text=auto eol=lf
*.sh text eol=lf
*.bat text eol=crlf

# Lockfiles – do not noise diffs
package-lock.json -diff
yarn.lock -diff

# Graph schemas
*.graphql diff
*.cql diff

# LFS
*.png filter=lfs diff=lfs merge=lfs -text
*.jpg filter=lfs diff=lfs merge=lfs -text
*.mp4 filter=lfs diff=lfs merge=lfs -text