networkx
numpy
gensim
scikit-learn
openai
strawberry-graphql[fastapi]
langchain
langchain-community
ollama
redis
python-json-logger
fastapi
uvicorn[standard]
authlib
passlib[bcrypt]
python-jose[cryptography]
sqlalchemy
psycopg2-binary
feedparser
